.form {
  text-align: right;
}

.form button {
  font: inherit;
  cursor: pointer;

  color: white;
  padding: 0.25rem 2rem;
  border-radius: 20px;
  font-weight: bold;
  background: transparent;
  border: 1px solid rgb(203, 108, 130);
  margin-top: 10px;
  color: black;
}

.form button:hover,
.form button:active {
  background: transparent;
  border: 1px solid white;
  color: rgb(203, 108, 130);
}
