.frame {
  width: 100%;
  height: 100%;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}
.position {
  width: 100%;
  height: 100vh;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  background-size: cover;
  background-repeat: "no-repeat";
  margin-top: 15vh;
}
.cover {
  height: 10rem;
}
.blockLeft {
  width: 45%;
}
.block {
  width: 100%;
  height: 60%;

  margin-right: 20px;

  display: flex;
  flex-direction: row;
}
.innerBlock {
  width: 33%;
  height: 100%;
  margin: 10px;
  border: 2px solid wheat;
  background-color: rgb(203, 108, 130);
  word-wrap: break-word;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.tekst {
  width: 90%;
  margin-top: 30px;
}
.blockRight {
  margin-top: -20vh;
  width: 55%;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.blockBTN {
  margin-top: 30px;
  height: 20%;
}
.blockBTNI {
  margin-top: 10px;
  cursor: pointer;
  font-weight: 500;
  padding: 11px 28px;
  border-radius: 20px;
  font-size: 0.8rem;
  border: none;
  color: #fff;
  background: rgb(203, 108, 130);
  transition: all 0.25s ease;
  width: 10rem;
}

.blockBTNI:hover {
  box-shadow: 0 10px 20px -10px rgba(255, 62, 78, 0.6);
  transform: translateY(-5px);
  background: rgb(193, 77, 104);
}

/* ----------------------------------------------- */

.frameL {
  width: 100%;
  height: 100%;
  background-color: white;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}
.innerBlockL {
  width: 33%;
  height: 100%;
  margin: 10px;
  border: 2px solid wheat;
  background-color: rgb(203, 108, 130);
  word-wrap: break-word;
  color: white;
  display: flex;
  flex-direction: column;

  align-items: center;
}
