.treatments {
  max-width: 60rem;
  width: 90%;
  margin: 2rem auto;
  animation: meals-appear 1s ease-out forwards;
}
.frame {
  display: flex;
  margin: auto;
  width: 100%;
  justify-content: center;
  align-items: center;

  padding-bottom: 2%;
  background-color: white;
}

.button {
  cursor: pointer;
  font: inherit;
  border: none;
  background-color: transparent;
  border: 2px solid wheat;
  color: black;
  padding: 0.75rem 3rem;
  width: 27vh;
  justify-content: space-around;
  margin-left: 30px;
  margin-top: 30px;
  border-radius: 25px;
  font-weight: bold;
}
.button:hover,
.button:active {
  background-color: rgba(95, 94, 94, 0.33);
}

.icon {
  width: 1.35rem;
  height: 1.35rem;
  margin-right: 0.5rem;
}

.badge {
  background-color: #b94517;
  padding: 0.25rem 1rem;
  border-radius: 25px;
  margin-left: 1rem;
  font-weight: bold;
}
.cover {
  height: 10rem;
  width: 100%;
}

.mainDiv {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  background-color: black;
  overflow: scroll;
}
.mainFrame {
}
.UsersList {
  height: 50vh;
  overflow: scroll;
  overflow-x: hidden;
  width: 90%;
  margin-top: 20px;
}
.loader {
  display: flex;
  align-items: center;
  justify-content: center;
}
.AllUsers,
.AllTreatments {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.name,
.id,
.email {
  width: 33%;
}
.treatment {
  width: 25%;
}
.CardFrame2 {
  margin-top: 20px;
}
.CardFrame {
  margin-top: 15vh;
}
.CardFrame3 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  width: 100%;
}
.TherapistsList {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90%;
  margin-left: 20px;
}
.TherapistsListContainer {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.AllTherapists {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.therapists {
  width: 33%;
  display: flex;
  flex-direction: row;
}
.CardFrame3 {
  width: 100%;
}
.card {
  width: 100%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.title {
  color: #2c3e50;
  margin-top: 20px;
  margin-left: 20px;
}
.innerFrame2 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.TherapistsList {
  width: 100%;
  margin-top: 20px;
}
.TreatmentList {
  width: 100%;
  margin-top: 20px;
}
.AllReservations {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.innerReservation {
  display: flex;
  flex-direction: row;
}
.reservations {
  margin-left: 10px;
  margin-right: 10px;
}
