.button {
  cursor: pointer;
  font: inherit;
  border: none;
  background-color: #4d1601;
  color: white;
  padding: 0.75rem 3rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 25px;
  font-weight: bold;
}

.button:hover,
.button:active {
  background-color: #2c0d00;
}
.addButton {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
.image {
  width: 200px;
  height: 200px;
}
.main {
  overflow: scroll;
  height: 105vh;
  border: 3px solid red;
}

.therapistsCVR {
  width: 60%;
  display: flex;
  margin: auto;
  margin-bottom: 50px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}
.innerMain {
  padding-bottom: 50px;
}
.imageW {
  width: 60vh;
  height: 100%;
  margin-bottom: -2px;
}

.innerdiv {
  display: block;
  color: white;
  padding-left: 10px;
}
.innerdiv p {
  color: white;
}
.innerdiv h1 {
  color: white;
}
.innerdiv h3 {
  color: white;
}
.innerdiv h2 {
  color: white;
}
.btnDIV {
  margin: auto;
}
.cover {
  height: 10rem;
  width: 100%;
}
.frame {
  width: 100%;
  height: 100%;
  background-color: black;
}

/* ----------------------------------------------------------------------------- */

.frameL {
  width: 100%;

  background-color: white;
  overflow: scroll;
  height: 105vh;
}

.button {
  cursor: pointer;
  font: inherit;
  border: none;
  background-color: #4d1601;
  color: white;
  padding: 0.75rem 3rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 25px;
  font-weight: bold;
}

.button:hover,
.button:active {
  background-color: #2c0d00;
}
.addButton {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
.image {
  width: 200px;
  height: 200px;
}

.therapistsCVR {
  width: 60%;
  display: flex;
  margin: auto;
  margin-bottom: 5px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.btnDIV {
  margin: auto;
}

.innerdivL {
  display: block;
  color: black;
}
.innerdivL h1,
h2,
h3,
p {
  color: black;
}
